.book {
    margin: 20px;
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
}

.book h2 {
    color: orangered;
    text-align: center;
}

.book_author {
    color: navy;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}