* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  background-color: lightblue;
  padding: 20px;
  margin: 0;
}

.search {
  background-color: lightblue;
  padding-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 25%;
}

form label,input,button,select {
  margin-bottom: 10px;
}

label {
  text-align: center;
  font-weight: bold;
}
